

{% extends 'prelogin.html' %}


{% block content %}
<h2>Add a company to your portfolio</h2>
 


<style>
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 35px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #283655  ;
}

.button {
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
</style>

<table class="styled-table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Company Name</th>
            <th>P/E Ratio</th>
            <th>Number of Shares Owned</th>
        </tr>
    </thead>
    <tbody>

{% for r in data %}
	    <form action="/insert_cpn" method="post">
        <tr class="active-row">
            <td><button type="submit" name="{{r['ticker']}}" class="button button1">{{r['ticker']}}</button></td>
            <td>{{r['stock_name']}}</td>
            <td>{{r['pe_ratio']}}</td>
            <td>{{r['number_of_shares_suggested']}}</td>
	   <input name="ticker" type="hidden" value="{{r['ticker']}}">
 	   <input id="performance" name="performance" type="hidden" value="{{performance}}" />
	   <input name="pname" type="hidden" value="{{pname}}">
	   <input name="portfolio_id" type="hidden" value="{{portfolio_id}}">
	</tr>
      </form> 
{% endfor %}
    </tbody>
</table>


{% endblock content %}
