
{% extends 'prelogin.html' %}


{% block content %}
<body>
	<h5>Currency in USD</h5>
<div style="float:left; margin:2px">
	<h2> Portfolio : {{pname}} &nbsp; </h2>
</div>
<div style="float:left; margin:2px">
	<h2>&nbsp; Trader Performance :</h2>
</div>

<div style="float:left; margin:2px">
{% if k >= 0 %}


	<h2 style="color:green;">{{performance}}</h1>
	{% else %}

	<h2 style="color:red;">{{performance}}</h1>
	{% endif %}
</div>

</body>
<br style="clear:both" />
<body>
<h3>Your Historical Data Page</h2>

    <form action="/add_company" method="POST">
	    <button type="submit" name="portfolio_id" value={{portfolio_id}} class="button button1">ADD A COMPANY TO YOUR LIST</button>
	    <input type="hidden" name="{{portfolio_id}}" value="{{portfolio_id}}">
    
 		<input id="performance" name="performance" type="hidden" value="{{performance}}" />
	    <input type="hidden" name="pname" value="{{pname}}">
    </form>


<style>
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.8em;
    font-family: sans-serif;
    min-width: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 10px 20px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #283655  ;
}

.button {
  border: none;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #BA2E00;
}

.button2:hover {
  background-color: #BA2E00;
  color: white;
}
</style>

<div style="float:left; margin:15px">

<h3>Companies added</h3>

	{% if access == 1 %}
<table class="styled-table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Company Name</th>
            <th>P/E Ratio</th>
            <th>No. Shares Suggested</th>
       	    <th>Allocation Suggested</th>
	    <th>Remove</th>
	</tr>
    </thead>
    <tbody>
	   {% for r in data %}
	    <form action="/price_history" method="post">
        <tr class="active-row">
		<td><button type="submit" name="ticker" class="button button1" value="{{r['ticker']}}">{{r['ticker']}}</button></td>
	    </form>
		<td>{{r['stock_name']}}</td>
	    <td>{{r['pe_ratio']}}</td>
	    <td>{{r['number_of_shares_suggested']}}</td>
            <td>{{('%0.2f'|format(r['allocation']|float))|string ~ "%"}}</td> 

	    <form action="/remove_cpn" method="post">
          	 <input id="performance" name="performance" type="hidden" value="{{performance}}" /> 
          	 <input name="pname" type="hidden" value="{{pname}}"> 
		<input type="hidden" name="portfolio_id" value="{{portfolio_id}}" />
		<td><button type="submit" name="ticker" class="button button2" value="{{r['ticker']}}">Remove</button></td>
	</tr>
     </form>
      
{% endfor %}
    </tbody>
</table>

{% else %}
<h1>List is empty</h1>
	    {% endif %}
</div>

<div style="float:left; margin:15px">
	<h3>Transaction History</h3>
	{% if access2 == 1 %}
<table class="styled-table">
    <thead>
	    <tr>

	    <th>Transaction ID</th>
            <th>Is Buying</th>
            <th>Time</th>
	    <th>SYMBOL</td>
	    <th>Last Price</td>
            <th># of Shares</th>
        </tr>
    </thead>
    <tbody>
	   {% for r in data2 %}
	    <form>
        <tr class="active-row">
	    <td>{{r['transaction_id']}}</td>
	    <td>{{r['is_buying']}}</td>
	    <td>{{r['time']}}</td>
	    <td>{{r['ticker']}}</td>
	    <td>{{r['last_price']}}</td>
	    <td>{{r['number_of_shares']}}</td>
	   
        </tr>
     </form>
      
{% endfor %}

    </tbody>
</table>
{% else %}
<h1>No transaction found</h1>
	    {% endif %}
</div>

<div style="float:left; margin:15px">

<h3>Portfolio Add/Remove Company History</h3>

	{% if access3 == 1 %}
<table class="styled-table">
    <thead>
        <tr>
            <th>Action</th>
            <th>Symbol</th>
            <th>Date</th>
	</tr>
    </thead>
    <tbody>
	   {% for r in data3 %}
        <tr class="active-row">
		<td>{{r['action']}}</td>
	    <td>{{r['ticker']}}</td>
	    <td>{{r['entrydate']}}</td>

	</tr>
     </form>
      
{% endfor %}
    </tbody>
</table>


{% else %}
<h1>No Action found</h1>
	    {% endif %}
</div>

</body>
{% endblock content %}



