
{% extends 'prelogin.html' %}


{% block content %}
<body>
      {% for mesg in get_flashed_messages() %}
      <h1>{{ mesg }}</script></h1>
      {% endfor %}
    </body>
<head>
<h3>Login</h3>
<form onSubmit = "return checkPassword(this)" action="/login" method="POST" class="form--inline">

    <p><label for="user">Username : </label><input type="text" name="username" size="20"></p>

    <p><label for="password">Password          :</label><input type="password" name="password" size="20" required></p>

    <p><input type="submit" name="submit" value="login" class="button--pill"></p>

</form>

{% endblock %}
