
{% extends 'prelogin.html' %}


{% block content %}
<body>
      {% for mesg in get_flashed_messages() %}
      <h1>{{ mesg }}</script></h1>
      {% endfor %}
    </body>
<head>
		<script>
		
			// Function to check Whether both passwords
			// is same or not.
			function checkPassword(form) {
				password1 = form.password.value;
				password2 = form.password2.value;
	
					
				// If Not same return False.	
				if (password1 != password2) {
					alert ("\nPassword did not match: Please try again...")
					return false;
				}

				// If same return True.
				else{
					alert("Password Match: Welcome to GeeksforGeeks!")
					return true;
				}
			}
		</script>
		
	</head>
	<body>

		<h3>Registration</h3>
<form onSubmit = "return checkPassword(this)" action="/register" method="POST" class="form--inline">

    <p><label for="user">Username : </label><input type="text" name="firstn" size="20"></p>

    <p><label for="password">Password          :</label><input type="password" name="password" size="20" required></p>
    <p><label for="password2">Confirm Password :</label><input type="password" name="password2" size="20" required></p>

    <p><input type="submit" name="submit" value="Create Account" class="button--pill"></p>

</form>

	</body>
	{% endblock content %}		
